
<mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button (click)="cancelar()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="productoForm.valid && guardar()">
        <mat-icon>done</mat-icon> 
    </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form class="producto-form" [formGroup]="productoForm">
        <mat-form-field>
            <input type="text" matInput placeholder="Nombre" formControlName="nombre" [errorStateMatcher]="matcher">
            <mat-error *ngIf="productoForm.controls['nombre'].errors?.required">
                Se requiere nombre
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Precio" formControlName="precio">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Imagen" formControlName="imagen">
        </mat-form-field>
    </form>
</mat-dialog-content>
