<h2 mat-dialog-title>{{descripcion}}</h2>

<mat-dialog-content>
    <form class="producto-form" [formGroup]="productoForm">
        <mat-form-field>
            <input type="text" matInput placeholder="Nombre" formControlName="nombre" [errorStateMatcher]="matcher">
            <mat-error *ngIf="productoForm.controls['nombre'].errors?.required">
                Se requiere nombre
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Precio" formControlName="precio">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Imagen" formControlName="imagen">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="guardar()">Guardar</button>
</mat-dialog-actions>