
.lista-productos {
  max-width: 600px;
}

mat-toolbar-row.seleccionados {
  align-items: center;
  justify-content: flex-end;
}

.texto-toolbar {
  margin-right: auto;
  font-size: 14px;
}

.item-nombre {
  margin-left: 1.5em;
}

.item-precio {
  margin-left: 1.5em;
}